<!DOCTYPE html>
<html lang="en">

<head>
    <!-- man kan titta på sin grid i devtools -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            padding: 5px;
            width: 210px;
            height: 140px;
        }
    </style>
</head>

<body>
    <p>
        Ta fram Devtools, inspektera elementet. I Google Chrome kan du se rutnätet genom att hålla musen över elementet
        i inspektören. I Mozilla Firefox kan du få en fin överlagring genom att i inspektören välja elementet och i fliken
        "Layout" välja "Överlagra rutnät".
    </p>

    <div class="content">

    </div>
</body>

</html>