<!DOCTYPE html>
<html lang="en">
<head>
    <!-- man behöver inte ha saker i alla sina rutor -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
            display: grid;
            grid-template-columns: 10% 30% 60%;
            grid-template-rows: 10% 90%;
            width: 300px;
            height: 200px;
            float: left;
        }

        #ingrid {
            grid-column: 3;
            grid-row: 2;

            background-color: mediumvioletred;
        }
    </style>
</head>
<body>
    <p>Man behöver inte placera något i alla grid-rutor om man inte vill.</p>
    <div class="content">
        <div id="ingrid"></div>
    </div>
</body>
</html>